In [14]:
import pandas as ps
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data=ps.read_csv('csv_result-weather.csv')
data.head()

   id   outlook temperature humidity  windy play
0   1     sunny         hot     high  False   no
1   2     sunny         hot     high   True   no
2   3  overcast         hot     high  False  yes
3   4     rainy        mild     high  False  yes
4   5     rainy        cool   normal  False  yes

In [16]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
data.iloc[:,1]=lab.fit_transform(data.iloc[:,1])
data.iloc[:,2]=lab.fit_transform(data.iloc[:,2])
data.iloc[:,3]=lab.fit_transform(data.iloc[:,3])
data.iloc[:,4]=lab.fit_transform(data.iloc[:,4])
data.iloc[:,5]=lab.fit_transform(data.iloc[:,5])
data.head()

   id  outlook  temperature  humidity  windy  play
0   1        2            1         0      0     0
1   2        2            1         0      1     0
2   3        0            1         0      0     1
3   4        1            2         0      0     1
4   5        1            0         1      0     1

In [17]:
x=data.iloc[:,0:5].values
y=data.iloc[:,5].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=3, random_state=42)
dtc.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [19]:
predictValues=dtc.predict(x_test)
predictValues

array([1, 1, 0], dtype=int64)

In [20]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictValues))

1.0

In [21]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
predictValues1=log.predict(x_test)
predictValues1

array([1, 1, 0], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictValues1))

1.0